:root{
    --yellow: #f1be32;
    --golden-yellow: #feac32;
    --dark-purple: #110815;
    --light-grey: #efefef;
}
body {
    background-color: var(--dark-purple);
}

#text {
    background-color: var(--dark-purple);
    color: #fff;
    padding: 10px;
}

#game {
    max-width: 500px;
    max-height: 400px;
    background-color: #ffffff;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

#controls,
#stats {
    border: 2px solid var(--golden-yellow);
    color: var(--dark-purple);
    padding: 5px;
}

#monsterStats {
    display: none;
    border: 2px solid var(--border-color);
    padding: 5px;
    color: #ffffff;
    background-color: var(--yellow);
}

.stat {
    padding-right: 10px;
}

button {
    cursor: pointer;
    color: var(--dark-purple);
    border: 3px solid var(--border-color);
    background-color: var(--yellow);
    background-image: linear-gradient(var(--golden-yellow), var(--yellow));
}